body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("/src/img/imgFundoUm.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us-div {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#about-us-h1 {
  align-self: flex-start;
  margin-top: 1rem;
  font-weight: bolder;
  color: #0b3344;
  font-size: 4rem;
}

.about-us-description {
  width: 75%;
  font-size: 2rem;
  color: #0b3344;
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
}

#hydra-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#hydra-logo-img {
  height: 25rem;
  position: absolute;
  opacity: 0.1;
}
