body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("/src/img/imgFundoUm.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-us-div {
  width: 80%;
  margin-left: 5rem;
  margin-top: 6rem;
}

#about-us-h1 {
  align-self: flex-start;
  margin-top: 1rem;
  font-weight: bolder;
  color: #0b3344;
  font-size: 4rem;
}

.about-us-description {
  width: 90%;
  font-size: 2.23rem;
  color: #0b3344;
}

#hydra-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  margin-top: 3rem;
}

#hydra-logo-img {
  height: 30rem;
  position: absolute;
  opacity: 0.15;
}
