@media screen and (max-width: 790px) {
  /* MAIN */
  /* NEWS GRID */

  #title-h1 {
    text-align: center;
    margin-left: 0;
  }

  .news-card-link {
    margin-left: 0;
  }

  /* NEWS GRID */
  /* MAIN */
}

@media screen and (min-width: 791px) and (max-width: 1024px) {
  /* MAIN */
  /* NEWS GRID */

  #news-container-grid {
    width: 100%;
  }

  #title-h1 {
    text-align: center;
    margin-left: 0;
  }

  .news-card-link {
    margin-left: 2rem;
  }

  /* NEWS GRID */
  /* MAIN */
}
