@media screen and (max-width: 790px) {
  /* MAIN */
  /* TEAM GRID */

  #title-h1 {
    text-align: center;
    margin-left: 0;
  }

  .player-card-link {
    margin-left: 0;
  }

  /* TEAM GRID */
  /* MAIN */
}

@media screen and (min-width: 791px) and (max-width: 1024px) {
  /* MAIN */
  /* TEAM GRID */

  #team-container-grid {
    width: 100%;
  }

  #title-h1 {
    text-align: center;
    margin-left: 0;
  }

  .player-card-link {
    margin-left: 2rem;
  }

  /* TEAM GRID */
  /* MAIN */
}
