@media screen and (max-width: 424px) {
  /* MAIN */
  /* CAROUSEL */

  #carousel-div {
    min-height: 40rem;
  }

  #carousel-div h1 {
    font-size: 2.6rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 11rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-description-logo-div {
    min-height: 55rem;
  }

  #hydra-slogan-div {
    min-height: 39rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    min-height: 40rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }

  #hydra-slogan-div h2 {
    font-size: 4rem;
    line-height: 5rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
    margin-top: 6rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 0;

    opacity: 0.45;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;
    margin-top: 2rem;
    text-align: center;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
  }

  #about-us-h1-p-first {
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    font-size: 2.1rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 20rem;
    height: 30rem;
    margin-top: 10rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 425px) and (max-width: 523px) {
  /* MAIN */

  /* CAROUSEL */

  #carousel-div {
    min-height: 43rem;
  }

  #carousel-div h1 {
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 10rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-slogan-div {
    min-height: 45rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    min-height: 50rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }

  #hydra-slogan-div h2 {
    font-size: 4.5rem;
    line-height: 6rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    opacity: 0.45;
  }

  #hydra-description-logo-div {
    min-height: 53rem;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;

    text-align: center;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 2.1rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 24rem;
    height: 30rem;
    margin-top: 10rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 524px) and (max-width: 768px) {
  /* MAIN */
  /* CAROUSEL */

  #carousel-div {
    min-height: 50rem;
  }

  #carousel-div h1 {
    font-size: 4rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 9rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-description-logo-div {
    min-height: 45rem;
  }

  #hydra-slogan-div {
    min-height: 39rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    min-height: 50rem;
  }

  #hydra-slogan-div h2 {
    font-size: 6rem;
    line-height: 7rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 10rem;
    opacity: 0.45;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;
    text-align: center;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
  }

  #about-us-h1-p-first {
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 2.5rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 30rem;
    height: 35rem;
    margin-top: 10rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* MAIN */
  /* CAROUSEL */

  #carousel-div {
    min-height: 60rem;
  }

  #carousel-div h1 {
    font-size: 6rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 8rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-description-logo-div {
    min-height: 45rem;
  }

  #hydra-slogan-div {
    min-height: 39rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    min-height: 50rem;
  }

  #hydra-slogan-div h2 {
    font-size: 7rem;
    line-height: 8rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 10rem;
    opacity: 0.45;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;
    text-align: center;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
    font-size: 5.5rem;
  }

  #about-us-h1-p-first {
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 2.5rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 35rem;
    height: 40rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* MAIN */
  /* CAROUSEL */

  #carousel-div {
    min-height: 60rem;
  }

  #carousel-div h1 {
    font-size: 6rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 8rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-description-logo-div {
    min-height: 45rem;
  }

  #hydra-slogan-div {
    min-height: 39rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    min-height: 50rem;
  }

  #hydra-slogan-div h2 {
    font-size: 7rem;
    line-height: 8rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 10rem;
    opacity: 0.45;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;
    text-align: center;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
    font-size: 5.5rem;
  }

  #about-us-h1-p-first {
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 2.5rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 40rem;
    height: 35rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 1201px) and (max-width: 1353px) {
  /* MAIN */
  /* CAROUSEL */

  #carousel-div {
    min-height: 70rem;
  }

  #carousel-div h1 {
    font-size: 6rem;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel-indicators-style {
    display: none;
  }

  /* ajuste da posição dos botões de next e preview do carousel */
  .carousel-button-position {
    margin-bottom: 8rem;
  }

  .carousel-img-style {
    width: 100%;
    height: auto;
  }

  .carousel-img-description-div {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
  }

  .carousel-img-description-div h5:first-child,
  .carousel-img-description-div h5 {
    font-size: 1.7rem;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-description-logo-div {
    min-height: 45rem;
  }

  #hydra-slogan-div {
    min-height: 39rem;
  }

  #hydra-slogan-text-div {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    min-height: 50rem;
  }

  #hydra-slogan-div h2 {
    font-size: 7rem;
    line-height: 8rem;
  }

  #hydra-slogan-div h2:first-child {
    margin-top: 2.5rem;
  }

  #characters-img-div {
    width: 100%;
    height: 1.5rem;
  }

  #characters-img {
    width: 100%;
    height: 35rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin-top: 10rem;
    opacity: 0.45;
  }

  #hydra-description-div {
    width: 100%;
    padding-left: 0;
  }

  #about-us-h1 {
    display: flex;
    text-align: center;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 0;
    font-size: 5.5rem;
  }

  #about-us-h1-p-first {
    margin-bottom: 0;
  }

  #flags-div {
    width: 100%;
    position: relative;
    margin-left: 0;
    padding-top: 0;
  }

  .flag-img:last-child {
    margin-left: 0;
    position: relative;
  }

  #about-us-description-p {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    font-size: 3.5rem;
    text-align: center;
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-logo-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    opacity: 0.15;
  }

  #hydra-logo-img {
    width: 40rem;
    height: 35rem;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}

@media screen and (min-width: 1354px) {
  body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* MAIN */

  #main {
    width: 100%;
    height: auto !important;
  }

  /* CAROUSEL */
  #carousel-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 50rem;
    background-color: #165f7e;
    align-items: center;
    justify-content: center;
  }

  #carousel-div h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
  }

  #carousel-div h1 p {
    color: rgb(0, 247, 255);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  #carousel-div h1:hover {
    color: orange;
  }

  .carousel-indicators-style {
    position: absolute;
    margin-bottom: 4rem;
  }

  .carousel-style {
    width: 100%;
    margin-top: 1rem;
    background-color: #165f7e;
  }

  .carouse-img-position {
    display: flex !important;
    flex-direction: row !important;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .carousel-img-style {
    width: 70%;
    height: 32em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: gold;
    border-width: 0.2px;
  }

  .carousel-img-description-div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }

  .carousel-img-description-div h5 {
    font-size: 2.3rem;
    color: rgb(0, 247, 255);
  }

  .carousel-img-description-div h5:first-child {
    margin-right: 0.2rem;
    color: orange;
  }

  /* CAROUSEL */

  /* HYDRA-SLOGAN */

  #hydra-slogan-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 110vh;
    background-image: url("/src/img/imgFundoUm.png");
    justify-content: space-between;
  }

  #hydra-slogan-text-div {
    flex-shrink: 1;
    flex-grow: 0;
    width: 60%;
    height: auto;
    margin-left: 5rem;
    margin-top: 12rem;
    z-index: 1;
  }

  #hydra-slogan-div h2 {
    align-self: center;
    width: 80%;
    font-size: 5rem;
    line-height: 7rem;
    color: #04425d;
    font-weight: bolder;
  }

  #hydra-slogan-div h2:last-child {
    color: orange;
    text-shadow: 0px 2px 1px black;
  }

  #characters-img-div {
    width: 100%;
    height: 5rem;
    position: absolute;
  }

  #characters-img {
    width: 75%;
    height: 45rem;
    position: absolute;
    margin-top: 4.8rem;
    margin-left: 20rem;
    animation: animationImg 3s alternate 1;
  }

  .hideCharactersImg {
    display: none;
  }

  .animateCharactersImg {
    display: block;
    animation: animationImg 4s alternate 1;
  }

  @keyframes animationImg {
    from {
      opacity: 0;
      transform: translate3d(300px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
  }

  /* HYDRA-SLOGAN */

  /* HYDRA DESCRIPTION */

  #hydra-description-logo-div {
    width: 100%;
    height: auto;
    min-height: 95vh;
    background-image: url("/src/img/imgFundoUm.png");
    background-color: #04425d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hydra-description-div {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    padding-left: 5rem;
  }

  #about-us-h1 {
    display: flex;

    color: white;
    font-weight: bolder;
    font-size: 4rem;
  }

  #about-us-h1-p-first {
    margin-left: 0.7rem;
    color: orange;
  }

  #about-us-h1-p-second {
    margin-left: 0.7rem;
    color: rgb(0, 247, 255);
  }

  .hideDescriptionText {
    display: none;
  }

  .showDescriptionText {
    display: block;
    animation: animationAboutUsP 2s 1;
    animation-delay: 0ms;
  }

  @keyframes animationAboutUsP {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #flags-div {
    width: auto;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 28.4rem;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .flag-img:first-child {
    width: auto;
    height: 4rem;
  }

  .flag-img:last-child {
    width: auto;
    height: 4rem;
    margin-left: 6rem;
    position: absolute;
    z-index: 2;
  }

  #about-us-description-p {
    width: 100%;
    text-align: justify;
    font-size: 1.8rem;
    color: white;
  }

  #about-us-p strong {
    color: orange;
  }

  #hydra-logo-div {
    width: 35%;
    height: auto;
    padding: 0;
  }

  #hydra-logo-img {
    width: 30rem;
    height: 30rem;
    margin: 0;
  }

  /* HYDRA DESCRIPTION */
  /* MAIN */
}
