* {
  font-family: "Oswald", sans-serif !important;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Navbar */
.navbar-style {
  width: 100%;
  background-color: #0b3344;
  height: 4.5rem;
  box-shadow: 0px 0.08rem 0.2rem rgb(0, 247, 255);
  position: fixed;
  z-index: 3;
  padding: 0;
}

.navbar-brand-style {
  width: 25%;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.navbar-brand-style p {
  margin: 0;
  color: white;
  font-size: 1.9rem;
}

.navbar-brand-style p:nth-child(2) {
  margin-left: 0.6rem;
}

.navbar-brand-style p:last-child {
  color: rgb(0, 247, 255);
}

#hydra-gaming-navbar-logo {
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
  transform: rotate(-360deg);
  transition: transform 2s;
}

#hydra-gaming-navbar-logo:hover {
  box-shadow: 0px 0px 10px 1px rgb(0, 247, 255);
  transform: rotate(360deg);
  transition: transform 2s;
  border-radius: 1.7rem;
}

.navbar-toggler-style {
  margin-right: 2rem;
  margin-bottom: 0.2rem;
  background-color: #145774;
}

.navbar-collapse-style {
  width: 100%;
  background-color: #0b3344;
  margin-top: 0;
  padding-top: 0;
}

.navbar-nav-style {
  width: 65%;

  justify-content: space-around;
  margin-left: 4rem;
  margin-right: 0;
}

.nav-link-style {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-link-style:hover {
  color: rgb(0, 247, 255);
}

.showNavbar {
  transition: 1.5s;
  opacity: 1;
}

.hideNavbar {
  transition: 1.5s;
  opacity: 0.5;
  height: 3rem;
}

#links-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 5rem;
  position: absolute;
  margin-left: 70rem;
}

.box-item {
  width: 5rem;
  height: 5rem;
}
/* Navbar */

/* MAIN */

#main {
  width: 100%;
  height: auto !important;
}

/* CAROUSEL */
#carousel-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 38rem;
  background-color: #165f7e;
  align-items: center;
  justify-content: center;
}

#carousel-div h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  padding-top: 0.5rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

#carousel-div h1 p {
  color: rgb(0, 247, 255);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

#carousel-div h1:hover {
  color: orange;
}

.carousel-indicators-style {
  position: absolute;
  margin-bottom: 4rem;
}

.carousel-style {
  width: 100%;
  margin-top: 1rem;
  background-color: #165f7e;
}

.carouse-img-position {
  display: flex !important;
  flex-direction: row !important;
  color: white;
  justify-content: center;
  align-items: center;
}

.carousel-img-style {
  width: 70%;
  height: 32em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: gold;
  border-width: 0.2px;
}

.carousel-img-description-div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.carousel-img-description-div h5 {
  font-size: 2.3rem;
  color: rgb(0, 247, 255);
}

.carousel-img-description-div h5:first-child {
  margin-right: 0.2rem;
  color: orange;
}

/* CAROUSEL */

/* HYDRA-SLOGAN */

#hydra-slogan-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-height: 110vh;
  background-image: url("/src/img/imgFundoUm.png");
  justify-content: space-between;
}

#hydra-slogan-text-div {
  flex-shrink: 1;
  flex-grow: 0;
  width: 60%;
  height: auto;
  margin-left: 5rem;
  margin-top: 12rem;
  z-index: 1;
}

#hydra-slogan-div h2 {
  align-self: center;
  width: 80%;
  font-size: 5rem;
  line-height: 7rem;
  color: #04425d;
  font-weight: bolder;
}

#hydra-slogan-div h2:last-child {
  color: orange;
  text-shadow: 0px 2px 1px black;
}

.hideSloganText {
  display: none;
}

.animateText {
  display: inline-block;
  animation: animationText 4s alternate 1;
}

@keyframes animationText {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.041);
  }
  to {
    opacity: 1;
    display: inline;
    transform: translate3d(0px, 0, 0);
    text-shadow: 0px 2px 1px black;
  }
}

#characters-img-div {
  width: 100%;
  height: 5rem;
  position: absolute;
}

#characters-img {
  width: 75%;
  height: 45rem;
  position: absolute;
  margin-top: 4.8rem;
  margin-left: 20rem;
  animation: animationImg 3s alternate 1;
}

.hideCharactersImg {
  display: none;
}

.animateCharactersImg {
  display: block;
  animation: animationImg 4s alternate 1;
}

@keyframes animationImg {
  from {
    opacity: 0;
    transform: translate3d(300px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

/* HYDRA-SLOGAN */

/* HYDRA DESCRIPTION */

#hydra-description-logo-div {
  width: 100%;
  height: auto;
  min-height: 95vh;
  background-image: url("/src/img/imgFundoUm.png");
  background-color: #04425d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hydra-description-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  box-sizing: border-box;
  padding-left: 5rem;
}

#about-us-h1 {
  display: flex;

  color: white;
  font-weight: bolder;
  font-size: 4rem;
}

#about-us-h1-p-first {
  margin-left: 0.7rem;
  color: orange;
}

#about-us-h1-p-second {
  margin-left: 0.7rem;
  color: rgb(0, 247, 255);
}

.hideDescriptionText {
  display: none;
}

.showDescriptionText {
  display: block;
  animation: animationAboutUsP 2s 1;
  animation-delay: 0ms;
}

@keyframes animationAboutUsP {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#flags-div {
  width: auto;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 28.4rem;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: center;
}

.flag-img:first-child {
  width: auto;
  height: 4rem;
}

.flag-img:last-child {
  width: auto;
  height: 4rem;
  margin-left: 6rem;
  position: absolute;
  z-index: 2;
}

#about-us-description-p {
  width: 85%;
  text-align: justify;
  font-size: 1.8rem;

  color: white;
}

#about-us-p strong {
  color: orange;
}

#hydra-logo-div {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: 40.5rem;
  padding: 0;
}

#hydra-logo-img {
  width: 43rem;
  height: 40rem;
  
}

/* HYDRA DESCRIPTION */
/* MAIN */

/* FOOTER */

#footer {
  display: block;
  justify-content: center;
  width: 100%;
  height: 20vh;
  background-color: #0b3344;
}

#footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-img {
  width: auto;
  height: 5rem;
}

.footer-img:first-child {
  width: auto;
  height: 6rem;
}

#footer-content p {
  color: white;
  margin: 0;
  width: 10%;
}

/* FOOTER */
/* colocar no arquivo de media query */
@media (max-width: 994px) {
  .navbar-nav-style {
    margin-left: 1rem;
    height: 18rem;
  }
}
